#deliveryGift{
    margin-top: 30px;
}
#deliveryGift h1{
    font-size: 28px;
    margin-bottom: 15px;
}
#deliveryGift h1 button{
    position: absolute;
    right: 20px;
}

#deliveryGift .bigItem{
    height: 545px;
    width: 1150px;
    text-align: center;
    transition: 0.3s;
}

#deliveryGift .bigItem:hover{
    cursor: pointer;
}
#deliveryGift .smallItems .card p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
#deliveryGift .card:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

#deliveryGift ul{
    flex-wrap: wrap;
}
#deliveryGift ul li{
    margin: 0px 0px 10px 20px;
    width: 220px;
}